<%- include('../partials/header', { title: 'New Challenge' }) %>

<h1>Edit Challenge</h1>
<form action="/challenges/<%= challenge._id%>?_method=PUT" method="POST">
    <h3><%= challenge.challenge.name %></h3>
    <br>
    <label for="status">Status:</label>
    <select id="status" name="status">
        <option value="Incomplete" <%= challenge.status === "Incomplete" ? 'selected' : '' %>>Incomplete</option>
        <option value="In Progress" <%= challenge.status === "In Progress" ? 'selected' : '' %>>In Progress</option>
        <option value="Complete" <%= challenge.status === "Complete" ? 'selected' : '' %>>Complete</option>
    </select>
    <br>
    <button type="submit">Save Challenge</button>
</form>

<%- include('../partials/footer') %>
