<%- include('../partials/header', { title: 'Challenge Details' }) %>

<h1>Challenge Details</h1>
<p><strong>Challenge:</strong> <%= challenge.name %></p>
<p><strong>Category:</strong> <%= challenge.category %></p>
<p><strong>Steps:</strong></p>
<p><%= challenge.steps %></p>
<p><strong>Status:</strong> <%= challenge.status %></p>
<!-- <a href="/challenges/<%= challenge._id %>/edit">Edit</a>
<form action="/challenges/<%= challenge._id %>?_method=DELETE" method="POST">
    <button type="submit" class="btn-delete">Delete</button> -->
<!-- </form> -->

<%- include('../partials/footer') %>
